#! /bin/bash
## Sources all utility scripts of in the jayci project repo
##   (and itself is symlinked to ~/.jayrc which gets sourced in .bash_profile)




# Check for other scripts
if [ -f ${JAYCI_WORKSPACE}/jayci/scripts/.git-prompt.sh ]; then
     printf "=====> %-45s jayci.cfg ---sources---> .git-prompt.sh \n";
     . ${JAYCI_WORKSPACE}/jayci/scripts/.git-prompt.sh
else
     echo ".git-prompt.sh script does not exist"
fi


# Check for utilities files, then source
if [ -f ${JAYCI_WORKSPACE}/jayci/scripts/jayci_utilities.sh ]; then
     printf "=====> %-45s jayci.cfg ---sources---> jayci_utilities.sh \n";
     . ${JAYCI_WORKSPACE}/jayci/scripts/jayci_utilities.sh

else
     echo "There are no utility scripts for jayci.cfg to source"
fi
	
